{% extends 'base.html' %}

{% block titulo %}Pessoas{% endblock titulo %}

{% block conteudo %}
  <form role="form" method="POST" action="/pessoas/pesquisar/">{% csrf_token %}
    <legend class="page-header">Pesquisa de Pessoas</legend>

    <div class="form-group">
      <div class="row">
        <div class="col-md-4">
          <div class="input-group">
            <input type="text" class="form-control" id="textoBusca" name="textoBusca" value="{{ textoBusca }}" placeholder="Digite um texto para a busca...">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary">Pesquisar <span class="glyphicon glyphicon-search"></span></button>
            </span>
          </div>
        </div>
        <div class="col-md-2">
          <a href="/pessoas/adicionar/" class="btn btn-warning">Cadastrar Pessoa</a>
        </div>
      </div>
    </div>  
  </form>
  
<hr>
<div class="table-responsive">
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th>#</th>
            <th>Nome</th>
            <th>E-Mail</th>
            <th>Telefone</th>
            <th class="text-center">Ações</th>
          </tr>
        </thead>
        <tbody>
        {% for pessoa in pessoas %}
          <tr>
            <td>{{ pessoa.id }}</td>
            <td>{{ pessoa.nome }}</td>
            <td>{{ pessoa.email }}</td>
            <td>{{ pessoa.telefone }}</td>
            <td>
              <div class="text-center">
                <div class="btn-group btn-group-sm">
                  <a class="btn btn-primary" href="/pessoas/editar/{{ pessoa.pk }}">Editar</a>
                  <a class="btn btn-danger" href="/pessoas/excluir/{{ pessoa.pk }}/">Excluir</a>
                </div>
              </div>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
</div><!-- FIM TABELA -->

{% endblock conteudo %}
